html, body {margin: 0; padding: 0; color: #4c4c4c; font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 17px;}
img, a {border: none; text-decoration: none;}
label, a div table tr td {color: #4c4c4c; font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 16px;}
input {width: 300px; height: 30px; padding: 0 10px; font-style: italic; border: 1px solid #9e9e9e;}
textarea {width: 300px; padding: 10px; min-height: 20px; font-style: italic; border: 1px solid #9e9e9e; transition: .3s; resize: none;}
h1 {color: #4c4c4c; font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 50px;}
h2 {color: #4c4c4c; font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 30px; margin-top: 0;}
table {border: 1px dotted #9e9e9e; transition: .3s;}
td {padding: 5px 10px 5px 10px; margin: 3px;}
tr {margin-top: 20px;}
select {height: 40px; line-height: 40px; margin-top: 5px; padding: 5px;}

.menuPoint:hover {background-color: #dedede;}
.breadCrumbsText:hover, .redLink:hover {text-decoration: none;}

#loginBlock {position: relative; margin: 0 auto; padding: 20px; background-color: #fff; width: 320px; box-shadow: 0 5px 15px -4px rgba(0, 0, 0, 0.4);}
#loginSubmit {width: 100px; height: 30px; border: none; background-color: #dedede; color: #4c4c4c; font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 16px; font-style: normal; cursor: pointer;}
#menu {width: 220px; padding: 10px; background-color: #fff; box-shadow: 0 5px 15px -4px rgba(0, 0, 0, 0.4); transition: .3s; position: relative; float: left;}
#top {width: 100%; height: 50px; padding-top: 10px; padding-bottom: 10px; background-color: #fff;}
#content {position: relative; float: left; transition: .3s;}
#exitIMG {position: relative; float: right; margin-top: 17px; margin-right: 40px;}
#topText {position: relative; float: left; margin-left: 45px; margin-top: 3px;}
#logo {width: 100%; min-height: 40px;}
#admContent {padding: 20px; background-color: #fff; position: relative; margin: 0 auto; box-shadow: 0 5px 15px -4px rgba(0, 0, 0, 0.4);}
#breadCrumbs, .breadCrumbsText {color: #8d8d8d; font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 14px; text-decoration: underline;}
#breadCrumbsIcon {width: 16px; height: 16px; position: relative; float: left;}
#breadCrumbsTextContainer {margin-left: 10px; height: 16px; line-height: 16px; position: relative; float: left;}
#responseField {transition: .3s; opacity: 0; font-size: 14px;}
#addForm {position: relative; float: left;}
#goodsTable {position: relative; float: left; margin-left: 40px; padding: 10px; border: 1px dashed #9e9e9e;}

.menuPoint {width: 100%; min-height: 40px; margin-top: 10px;}
.menuPointActive {width: 100%; min-height: 40px; margin-top: 10px; background-color: #dedede;}
.menuIMG {width: 32px; height: 32px; position: relative; float: left; margin-top: 4px; margin-left: 5px;}
.menuText {position: relative; float: left; height: 100%; margin-left: 10px; line-height: 40px; color: #4c4c4c;}
.line {width: 100%; height: 1px; background-color: #dedede; margin-top: 10px;}
.button {height: 30px; max-width: 160px; border: none; background-color: #dedede; color: #4c4c4c; font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 16px; font-style: normal; cursor: pointer; position: relative; float: left; margin-left: 10px; padding: auto 5px;}
.buttonActive {height: 30px; max-width: 160px; border: none; background-color: #df4e47; color: #fff; font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 16px; font-style: normal; cursor: pointer; position: relative; float: left; margin-left: 10px; padding: auto 5px;}
.redLink {text-decoration: underline; color: #df4e47; cursor: pointer;}
.file {border: none;}