html, body {margin: 0; padding: 0; color: #4c4c4c; font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 17px;}
img, a {border: none; text-decoration: none;}

@media screen and (max-width: 960px) {
    #menuLinks {display: none;}
    #menuIcon {float: right; margin: -48px 25px auto auto; cursor: pointer;}
}

@media screen and (min-width: 961px){
    #menuLinks a:hover {color: #df4e47;}

    #menuLinks {float: right; text-align: right; margin-top: 32px; line-height: 24px;}
    #menuLinks a {font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 16px; color: #4c4c4c;}
    #menuIcon {display: none;}
    #dropDownLine {width: 100%; z-index: 4; position: fixed; top: 60px;}
    #dropDownList {position: fixed; top: 60px; background-color: #fff; border: 1px solid #dedede; padding-top: 10px; padding-bottom: 10px; vertical-align: top; display: none; transition: opacity .3s; z-index: 4;}
    #dropDownArrowContainer {position: relative; top: -15px; z-index: 5; display: none;}

    .menuLink img {margin: auto auto 3px 3px;}
    .slash {font-size: 14px; margin-left: 5px;}
    .menuLink, .menuLinkNotDD {float: left; margin-left: 5px;}
    .dropDownLink {width: calc(100% - 20px); height: 25px; cursor: pointer; transition: .3s; padding: 5px 10px;}
    .dropDownLink a {font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 16px; color: #4c4c4c;}
}

/* home index.php */

#menu {width: 100%; height: 60px; position: fixed; top: 0; left: 0; z-index: 2; background-color: #fff;}
#menuShadow {width: 100%; height: 14px; background: url(../img/system/shadow.png) 50% 0 no-repeat; position: fixed; left: 0; top: 60px; z-index: 3;}
#mainImg {width: 100%; max-height: 500px; overflow: hidden; position: absolute; left: 0; top: 60px; z-index: 1;}
#mainImg img {width: 100%; height: auto;}
#logo {float: left; margin-top: 5px;}

.container {width: 90%; margin: 0 auto; z-index: 3;}